node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.tsbuildinfo

# Native build artifacts (when using prebuild)
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Local env files
.env*.local
